* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $black;
}

a.underlined {
  text-decoration: underline;
}

section {
  padding: 0 1rem;
  min-width: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
}
span.nowrap {
  white-space: nowrap;
}

.full-width {
  padding: 0;
  margin: 0;
}

.width-100 {
  width: 100%;
}

.width-66 {
  width: 66%;
}

.grid-50 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  gap: 3rem 1rem;
  align-items: stretch;
  & > * {
    min-width: 0;
  }
  & .event-img {
    width: 100%;
    height: auto;
  }
}

.three-column-grid, .four-column-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem 1rem;
}

.three-column-grid {
  & .margin-top-3 {
    margin-top: 3rem;
  }
  & .step-container {
    width: 100%;
    & .step-desc {
      margin-top: 2rem;
      & p{
        margin-top: 0.25rem;
      }
    }
  }
}

.step-img{
        width: 100%;
        align-items: flex-start;
        & img{
          width: 50%;
        }
      }
.see-more-wrapper {
  display: inline-block;
  margin-top: 1rem;
  @include flex(flex-end, center, row);
  & :first-child {
    margin-left: 0.5rem;
  }
}

.cta {
  position: relative;
}
.title {
  @include flex(flex-start, flex-start, row);
}

.cube-wrapper {
  margin-right: 2rem;
}

.max-width-2000 {
  max-width: 2000px;
  margin: auto;
}

.bg-yellow {
  background: $yellow;
}

/* Spaces */

.padding-88 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.top-60 {
  margin-top: 2.5rem;
}

.top-44 {
  margin-top: 2.75rem;
}

.top-48 {
  margin-top: 3rem;
}

.top-24 {
  margin-top: 1.5rem;
}

.bottom-44 {
  margin-bottom: 2.75rem;
}

.bottom-18 {
  margin-bottom: 18px;
}
.padding-top-18 {
  padding-top: 2rem;
}

.no-bottom-space {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Buttons */

.primary-btn {
  margin-right: 5px;
  padding: 0.5rem 3.875rem 1rem 3.875rem;
  background-color: $black;
  color: $white;
  border-radius: 4px;
  box-shadow: rgb(255, 255, 255) 5px -5px 0px -2px, $black 5px -5px;
  border: 2px solid $black;
  &.bg-yellow {
    box-shadow: $yellow 5px -5px 0px -2px, $black 5px -5px;
  }
  &.bg-orange{
    box-shadow: $orange 5px -5px 0px -2px, $black 5px -5px;
  }
  &.bg-white{
    box-shadow: $white 5px -5px 0px -2px, $black 5px -5px;
  }
}

.secondary-btn {
  margin-right: 5px;
  padding: 0.5rem 3.875rem 1rem 3.875rem;
  background-color: transparent;
  color: $black;
  border-radius: 4px;
  box-shadow: rgb(255, 255, 255) 5px -5px 0px -2px, $black 5px -5px;
  border: 2px solid $black;
  box-sizing: border-box;
  &.bg-yellow {
    box-shadow: $yellow 5px -5px 0px -2px, $black 5px -5px;
  }
}

.btn {
  margin: 0.5rem 0;
  padding: 1rem 3.75rem;
  background-color: $black;
  color: $white;
  border-radius: 4px;
  &.secondary {
    color: $black;
    background-color: $white;
    border: 3px solid $black;
  }
}

.download-link {
  margin-top: 1rem;
}

.btn-container {
  &.center {
    margin-top: 2rem;
    text-align: center;
  }
  &.flex-row {
    @include flex(center, center, column);
  }
}

.cta-container {
  margin-top: 0.5rem;
  @include flex(flex-start, center, row);
}
/* Small Mobile */
@media screen and (max-width: 340px) {
  .cube-wrapper {
    margin-right: 1rem;
  }
  .three-column-grid {
    & .step-container {
      width: 100%;
      img {
        width: 15rem;
        height: auto;
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: 760px) {
  section {
    padding: 0 2rem;
  }
  .grid-50 {
    gap: 3rem 1.5rem;
  }
  .three-column-grid, .four-column-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 1.5rem;
  }
  .see-more-wrapper {
    &.margin-right {
      margin-left: 2rem;
    }
  }
  .btn {
    padding: 1rem 4.75rem;
  }
  .btn-container {
    &.flex-row {
      @include flex(flex-end, center, row);
    }
  }
  .desc{
  margin-top: 0.4rem;
}
}

@media screen and (max-width: 960px) {
  .no-grid-mobile {
    display: initial;
    & .desc,
    .bottom-44,
    .top-48 {
      margin-top: 1.5rem;
    }
    & .event-img {
      margin-top: 3.75rem;
    }
    & .see-more-wrapper {
      align-self: flex-end;
    }
  }
}

/* Big Tablet */
@media screen and (min-width: 960px) {
  .grid-50 {
    grid-template-columns: repeat(2, 1fr);
  }

  .cube-wrapper {
    margin-right: 3.75rem;
  }

  .cta-container {
  margin-top: 0rem;
  @include flex(flex-end, center, row);
}
}

@media screen and (min-width: 970px) {
  .three-column-grid {
    & .step-container {
      & .step-desc{
        margin-top: 2rem;
      }
      & .step-img{
        width: 100%;
        align-items: flex-start;
        & img{
          width: 50%;
        }
      }
    }
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  section {
    padding: 0 4.5rem;
  }
  .three-column-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .four-column-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1300px) {
  .three-column-grid {
    & .margin-top-3 {
      margin-top: 0;
    }
  }
}
